/* This is the Master CSS file for the site */

/* Importation du reset du CSS */
@import url('./reset.css');

/* Importation des elements de configuration pour ce site */
@import url('./config.css');

/* Partie du CSS pour le Hero */
@import url('./hero.css');
