/* This is the Master CSS file for the site */

/* Importation du reset du CSS */
@import url('./reset.css');

/* Importation des elements de configuration pour ce site */
@import url('./config.css');

/* Partie du CSS pour le Hero */
@import url('./hero.css');

/* Partie du CSS pour les articles */
@import url('./articles.css');

/* Here start footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 4rem;

    div:nth-child(1) {
        width: 8rem;
        margin-right: 1.5rem;
    }

    p {
        font-size: 0.6rem;
        margin: 0.2rem 0;

        span {
            font-weight: 700;
        }
    }
}

@media screen and (min-width: 576px) {
    #footer {
        div:nth-child(1) {
            width: 9rem;
            margin-right: 4rem;
        }

        p {
            font-size: 0.8rem;
        }
    }
}