@import url('./reset.css');

#hero {
    position: relative;
    width: 100vw;
    height: 400px;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#acceuil {
    position: absolute;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2rem;
    left: 50vw;
    transform: translate(-50%, 0);
}

#title {
    font-size: 2rem;
}

#subtitle {
    font-size: 0.8rem;
}

#formulaire {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    padding: 0.5rem;

    input {
        background-color: #ddd;
        color: black;
        padding: 0.5rem;
    }

    input[type='submit'] {
        background-color: rgba(0,255,0,0.7);
        border: none;
        height: 100%;
    }
}
